.expensesContainer {
  width: 50%;
  display: flex;
  gap: 10px;
  min-width: 500px;
  max-height: 374px;
}

.expensesContainer .expensesList {
  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;
  flex: 2;

  display: flex;
    flex-direction: column;
    gap: 10px;
}

.expensesContainer .expensesList::-webkit-scrollbar {
  width: 0px;
}

.expensesContainer .expensesList .expensesRow {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-secondary);
  padding: 15px 20px;
  border-radius: 12px;
  position: relative;
}

.expensesContainer .expensesList .expensesRow .name {
  font-weight: 600;
}

.expensesContainer .expensesList .expensesRow .amount {
  font-weight: 900;
  color: hsl(0, 100%, 39%);
  transition: all 0.3s ease-in-out;
}

.expensesContainer .expensesList .expensesRow:hover .amount {
    transform: translateX(-20px);
  }

.expensesContainer .expensesList .expensesRow .deleteIcon {
  /* display: none; */
  color: hsl(0, 100%, 30%);
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 50%;
  right: -30px;
  transform: translateY(-50%);
  cursor: pointer;
}

.expensesContainer .expensesList .expensesRow:hover .deleteIcon {
  transform: translate(-10px, -50%);
}

.expensesContainer .expensesList .expensesRow .editIcon {
    margin-left: 10px;
    cursor: pointer;
    color: hsl(120, 100%, 19%);
    transform: scale(0);
    transition: all 0.3s ease-in-out;
}

.expensesContainer .expensesList .expensesRow:hover .editIcon {
    transform: scale(1);
}
