.budgetContainer {
  width: 50%;
  display: flex;
  gap: 10px;
  min-width: 500px;
  max-height: 374px;
}

.budgetContainer .budgetList {
  list-style: none;
  overflow: scroll;
  overflow-x: hidden;
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.budgetContainer .budgetList::-webkit-scrollbar {
  width: 0px;
}

.budgetContainer .budgetList .budgetRow {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-secondary);
  padding: 15px 20px;
  border-radius: 12px;
  position: relative;
}

.budgetContainer .budgetList .budgetRow .name {
  font-weight: 600;
}

.budgetContainer .budgetList .budgetRow .amount {
  font-weight: 900;
  color: hsl(120, 100%, 39%);
  transition: all 0.3s ease-in-out;
}

.budgetContainer .budgetList .budgetRow:hover .amount {
  transform: translateX(-20px);
  position: relative;
}

.budgetContainer .budgetList .budgetRow .amount .deleteIcon {
  /* display: none; */
  color: hsl(0, 100%, 30%);
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 50%;
  right: -30px;
  transform: translateY(-50%);
  cursor: pointer;
}

.budgetContainer .budgetList .budgetRow:hover .deleteIcon {
  transform: translate(-10px, -50%);
}

.budgetContainer .budgetList .budgetRow .editIcon {
  margin-left: 10px;
  cursor: pointer;
  color: hsl(120, 100%, 19%);
  transform: scale(0);
  transition: all 0.3s ease-in-out;
}

.budgetContainer .budgetList .budgetRow:hover .editIcon {
  transform: scale(1);
}
